<div class="container">
    <div class="col-sm-12 text-center">
        <h2>
            Hvala na prijavi i na vremenu koje ste posvetili da je popunite. 
            Time ste nam znatno olakšali slaganje SFeraKonskog programa i popunjavanje SFerakonske programske knjižice.
        </h2>
        <h2>
            Javit ćemo vam se u što kraćem mogućem roku. :)
        </h2>
        <h2>    
            Za sva pitanja i nedoumice slobodno se obratite koordinatorici programa 
        <br/>
            Moniki Tresk, na e-mail: program@sfera.hr 
        <br/>
            ili voditelju igraonice 
        <br/>
            Hrvoju Rončeviću, na e-mail: igraonica@sfera.hr
        </h2>
        <h2>
            NB: Prijava programa NE podrazumijeva dodjeljivanje štanda na SFeraKonu 2018. 
            Za prijavu programa na štandu te za sam štand, molimo da ispunite prijavnicu za štandove.
        </h2>
        <a [routerLink]="['']" class="btn btn-default btn-lg" style="margin-top:10px;white-space: normal;">
            Povratak na izbor prijave
        </a>
    </div>
</div>